<% provide(:title, "ログイン") %>
<div class="main__container">
  <%= form_with(url: login_path, scope: :session, data: { turbo: false }) do |f| %>
    <div class="general_field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, placeholder: "例: porco92@example.com" %>
    </div>

    <div class="general_field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
    </div>
    
    <div class="general_field submit__field">
      <%= f.submit "ログイン", class: "btn" %>
    </div>
  <% end %>

  <p>パスワードを忘れた: <%= link_to "再登録", new_password_reset_path %></p>
  <p>アカウントを持っていない: <%= link_to "新規登録", signup_path %></p>

</div>
