<% provide(:title, "パスワードの再設定") %>
<div class="main__container">
<h3>新しいパスワードを作成</h3>

  <%= form_with(model: @user, url: password_reset_path(params[:id])) do |f| %>

    <%= hidden_field_tag :email, @user.email %>
    <div class="general_field">  
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "6文字以上" %>
    </div>
  
    <div class="general_field"> 
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, placeholder: "もう一度入力してください" %>
    </div>
 
    <div class="general_field submit__field"> 
      <%= f.submit "パスワードを更新", class: "btn" %>
    </end>
  <% end %>
</div>