<% provide(:title, "新規登録") %>

<div class="usersNew__form">
  <%= form_with(model: @user) do |f| %>

  <label>性別</label>
  <div class="usersNew__field gender">
    <%= f.radio_button :girl, 0 %>
    <%= f.label :girl, "男", for: "user_girl_0" %>
    <%= f.radio_button :girl, 1 %>
    <%= f.label :girl, "女", for: "user_girl_1" %>
  </div>

  <div class="usersNew__field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="usersNew__field"> 
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth %>
  </div>
   
  <div class="usersNew__field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="usersNew__field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="usersNew__field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="usersNew__field">
    <%= f.label :agreement, "利用規約に同意する" %>
    <%= f.check_box :agreement %>
  </div>
  <%= f.submit "登録", class: "btn" %>

  <% end %>
  <p>アカウントを持っている: <%= link_to "ログイン", login_path %></p>

</div>