<div class="main__container">
<%= form_with(model: @user) do |f| %>
<%= render 'shared/error_messages' %>

<div class="general_field">
  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>
</div>

<div class="general_field">
  <%= f.label :name, "ニックネーム" %>
  <%= f.text_field :name %>
</div>

<div class="general_field">
  <%= f.label :height, "身長" %>
  <%= f.select :height, @height_options, placeholder: "身長を追加" %>

</div>

<div class="general_field submit__field">
  <%= f.submit "更新", class: "btn" %>
</div>
<% end %>

<div class="general_field">
  <%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete }, class: "usersShow__logout" %>
</div>
<div class="general_field usersShow__delete">
  <%= link_to "アカウントを削除する", @user, data: { "turbo-method": :delete,
                                                   turbo_confirm: "本当に削除しますか？" } %>
</div>
</div>