<% provide(:independent, javascript_import_module_tag("independents/match")) %>

<%= form_with model: current_user, id: "whole-form" do |f| %>
<div class="matchesNew__image">
  <img id="image-preview">
  <%= image_tag 'add-photo.png', class: "image__icon add__icon" %>
  <%= f.file_field :image, capture: 'user' %>
  <%= f.label :image, image_tag("photo-camera.png", alt: "camera", class: "image__icon camera__icon"),  id: 'camera' %>
</div>
  <%= f.text_area :comment, placeholder: "ひとことを追加..." %>
<% end %>
