<% content_for(:not_logged_in, 1) %>
<header>
  <%= render 'shared/popup' %>
</header>
<div class="not_logged_in">
<div class="initial__viewport">
  <div class="main__container">
    <h2>指先の恋からさようなら</h2>
    <h4>位置情報マッチングサイト Potara</h4>

    <div class="matchesNew__information">
      <div>
        <h5>渋谷限定</h5>
      </div>
      <div>
        <h5>リアルタイムですぐに会える</h5>
      </div>
      <div>
        <h5>チャットなし</h5>
      </div>
      <div>
        <h5>男女ともに完全無料</h5>
      </div>
    </div>

    <div class="appeal">
      <h3>試験運用中</h3>
      <%= button_to("男性ゲストログイン", login_path(params: {session: {email: "boy@boy.com", password: "password"}}), data: { turbo: false }, method: :post, class: "guest-login" ) %>
      <%= button_to("女性ゲストログイン", login_path(params: {session: {email: "girl@girl.com", password: "password"}}), data: { turbo: false }, method: :post, class: "guest-login") %>
    </div>
  </div>
  <div class="btn__container">
    <p><%= link_to "アカウントをつくる", activation_path, class: "btn btn-signup" %></p>
    <p><%= link_to "ログインはこちら" , login_path, class: "login_link" %></p>
  </div>
</div>

<div class="main__container app__discription">
  <h2 class="title__discription" style="margin-top: 0;">Potaraの使い方</h2>

  <h3>1. ユーザー登録をする</h3>
  <p>「アカウントをつくる」ボタンをタップし、必要な個人情報を入力します。</p>
  <%= image_tag 'application.png', class: "discription__image application__image" %>
  <p>※18歳未満の方はご利用できません</p>
  <p>※ご提供いただいた個人情報は、マッチング機能の提供にのみ使用します。法令に基づく場合を除き、第三者に提供することはありません。</p>
  <p><%= link_to "アカウントをつくる", activation_path, class: "btn btn-signup", style: "margin: 0 auto;" %></p>
  <p>ご登録のメールアドレスに送られたメールから、ユーザー認証をします。認証メールは、迷惑メールに振り分けられていることがあります。</p>

  <h3>2. マッチング時間まで待機する</h3>
  <p>マッチング時間は<b>各時刻の0分から10分まで</b>の10分間に限定されています。</p>
  <p>マッチング時間内にリロードすると、オンラインにするための画面に移ります。</p>
  <%= image_tag 'clock-reversed.png', class: 'discription__image' %>

  <h3>3. 自撮り写真を撮る</h3>
  <p>ブラウザアプリ（Google ChromeやSafari）からログインします。</p>
  <p>渋谷で<b>自撮り写真を1枚だけ</b>撮り、オンライン状態にします。</p>
  <%= image_tag 'selfie.jpg', class: "discription__image canva__dream" %>

  <h3>4. マッチングオファーが届く</h3>
  <p>1分ごとに近くのユーザーが自動でマッチングされます。</p>
  <p>マッチングオファーが届くと、画面に相手の簡単なプロフィールカードが現れます。</p>
  <div class="smartphones">
    <%= image_tag 'matched-boy.png', class: "discription__image actual__display" %>
    <%= image_tag 'matched-girl.png', class: "discription__image actual__display" %>
    <br>※実際のプレイ画面です
  </div>
  <h3>5. 「今すぐ合う」ボタンをタップ</h3>
  <p>オファーは45秒で消えてしまいます。<b>「今すぐ合う」</b>ボタンを押せば「いいね」をしたことになります。</p>
  <h3>6. 集合場所に行く</h3>
  <p>相手からも「いいね」が返ってくれば、マッチング成立です。<b>アプリが自動で集合場所と集合時間を決定します。</b>集合場所は近くにある駅の出口になります。すぐに向かいましょう。</p>
  <%= image_tag 'meeting.jpg', class: "meeting__moment discription__image canva__dream" %>
  <p>マッチング成立後は、一方が解除するまでお互いの位置情報が共有されます。</p>
  <p><%= link_to "アカウントをつくる", activation_path, class: "btn btn-signup", style: "margin: 0 auto;" %></p>

  <h4 style="margin-top: 96px;">お問い合わせ</h4>
  <p>メールアドレス<br>lin.tech74@gmail.com</p>
  <p>インスタグラム<br>@potara_official_account</p>
</div>
