<script>
  <% if logged_in? %>
    currentUserId = <%= current_user.id %>;
  <% end %>
</script>

<!DOCTYPE html>

<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div><%= message %></div>
      <% end %>
      <%= yield %>
    </div>  
    <footer>
      <div class="container">
        <ul>
          <% if logged_in? %>
            <li>
              <%= link_to "プロフィール", current_user %>
            </li>
            <li>
              <%= link_to "ログアウト", logout_path,
                                        data: { "turbo-method": :delete } %>
            </li>
          <% end %>
        </ul>
      </div>
    </footer>
  </body>


</html>
