<script>
  <% if logged_in? %>
    currentUserId = <%= current_user.id %>;
  <% end %>
</script>

<!DOCTYPE html>

<html>
  <head>
    <title>Muber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <header>
    <div>
      <%= link_to "Muber", root_path %>
      <ul>
        <% if logged_in? %>
          <li><%= link_to "プロフィール", current_user %></li>
          <li>
            <%= link_to "ログアウト", logout_path,
                                     data: { "turbo-method": :delete } %>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <body>
    <div>
      <% flash.each do |message_type, message| %>
        <div><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
